.swiper {
  position: relative;
  height: 50vh;
  min-height: 30vw;

  #swiper-img-div {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(2px);

    #swiper-img-group {
      display: flex;
      height: 100%;

      img {
        flex: 1 0 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  #swiper-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
  }

  .swiper-tool {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

    > .dot {
      width: 12px;
      height: 12px;
      margin: 0 4px;
      background-color: rgb(95, 95, 95);
      border-radius: 12px;
      cursor: pointer;
    }

    .actived {
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 600px) {
  .swiper {
    height: calc(100vh - 56px);
  }
}
