<header>
  <a routerLink="/" class="logo">
    <div>
      <img [src]="logo.uri" [alt]="logo.alt" />
      <span>{{ logo.text }}</span>
    </div>
  </a>
  <nav>
    <a routerLink="/" mat-button>首頁</a>
    <a routerLink="/about" mat-button>關於</a>
  </nav>
</header>

<div class="swiper">
  <div id="swiper-img-div">
    <div id="swiper-img-group">
      <ng-container *ngFor="let img of imgList; let index = index">
        <img [src]="img.uri" [alt]="img.alt" />
      </ng-container>
    </div>
  </div>
  <div id="swiper-mask"></div>
  <div class="swiper-tool">
    <ng-container *ngFor="let dot of imgList; let index = index">
      <div class="dot" [class]="index === imageIndex ? 'actived' : ''" (click)="onChangeImage(index)"></div>
    </ng-container>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="scoial">
    <ng-container *ngFor="let item of contact.scoial">
      <a *ngIf="item.link" target="_blank" [href]="item.link"><img [src]="item.uri" [alt]="item.alt" /></a>
      <img *ngIf="!item.link" [src]="item.uri" [alt]="item.alt" />
    </ng-container>
  </div>
  <p>
    連絡電話: <a [href]="'tel:' + contact.phone">{{ contact.phone }}</a>
  </p>
  <p>
    地址:
    <a *ngIf="contact.address.link; else address" [href]="contact.address.link" target="_blank">{{
      contact.address.text
    }}</a>
    <ng-template #address>{{ contact.address.text }}</ng-template>
  </p>
  <p>
    電子信箱: <a [href]="'mailto:' + contact.email">{{ contact.email }}</a>
  </p>

  <p>{{ contact.author }}</p>
</footer>
