header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--backgroud);
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  box-shadow: 0px 0px 10px #0000006b;
  z-index: 999;

  > .logo {
    &,
    :active,
    :link,
    :visited,
    :hover {
      text-decoration: none;
      color: #000;
    }
    > div {
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      > img {
        height: 100%;
      }
      > span {
        margin-left: 8px;
        font-size: 1.2rem;
      }
    }
  }

  > nav {
    display: flex;
    align-items: center;
  }
}

.gap-header-bar {
  margin-top: 56px;
}

footer {
  z-index: 998;
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--backgroud);
  height: 30vh;
  min-height: 250px;
  border: var(--border) solid 1px;

  > p {
    margin: 8px 0;
    font-size: 1.2rem;
  }
  > .scoial img {
    margin: 4px;
    width: 48px;
    height: 48px;
  }

  a,
  a:active,
  a:link,
  a:visited,
  a:hover {
    color: #000;
  }
}

@media screen and (max-width: 600px) {
  .swiper {
    height: calc(100vh - 56px);
  }

  footer {
    > p {
      margin: 4px 0;
      font-size: 1rem;
    }
    > .scoial > img {
      width: 36px;
      height: 36px;
    }
  }
}

@media screen and (max-width: 300px) {
  header {
    width: 300px;
    > div > .logo > div > span {
      display: none;
    }
  }
  footer {
    width: 300px;
  }
}
